body {
	padding: 0;
    	width: 100%;
    	font-size: 12px;
    	line-height: 1.5;
    	background-color: white;
    	font-family: serif;
    	color: black;
}

p {
	display: block;
    	margin-block-start: 1em;
    	margin-block-end: 1em;
   	margin-inline-start: 0px;
   	margin-inline-end: 0px;
}

div {
	display: block;
}

img {
    max-width: 70%;
    height: auto;
}

.index-page {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.index-page-c1 {
	width: 15%;
	float: left;
	overflow: hidden;
    	position: fixed;
}
.index-page-c2 {
	width: 80%;
    	float: right;
    	overflow: hidden;
    	padding: 3%;
}

.index-page-intro1 {
	margin-left: 2.5%;
}

.index-page-info {
	width: 30%;
    	float: left;
    	overflow: hidden;
    	position: relative;
}

.index-page-image {
	width: 65%;
    	float: left;
    	overflow: hidden;
    	margin-left: 2.5%;
}

.index-page-image-1 {
	width: 48%;
    	float: left;
    	overflow: hidden;
}
